html body {
	padding: 0;
	margin: 0;
	width: 100%;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

video {
	width: 1007px;
	height: 768px;
}


.home {
	background-color: black;
}

.two  {
	background-color: black;
}

.three  {
	background-color: black;
}

.four {
	background-color: black;
}

